.container {
  display: flex;
  gap: 5px;
}

.box {
  background: var(--bg-board);
  padding: 5px 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70px;
  position: relative;
}

.label {
  color: var(--text-board);
  opacity: 0.7;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.value {
  color: var(--score-text);
  font-size: 1.5rem;
  font-weight: bold;
}

.addition {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--score-text);
  z-index: 20;
  animation: move-up 600ms ease-in-out forwards;
  pointer-events: none;
}

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -20px;
    opacity: 0;
  }
}
